.mainContainer {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("../../css/img/BACKGROUND_LOGIN.png");
}

.leftContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.rightContainer {
    width: 50%;
    height: 100%;
}

.leftHeader {
    width: 100%;
    height: 20%;
}

.leftBody {
    width: 100%;
    height: 70%;
}

.leftFooter {
    width: 100%;
    height: 10%;
}

.formContainer {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.btn {
    background-color: rgb(0, 39, 65);
    border-color: white;
    outline: 0px !important;
}

.red{
    color:red;
    padding-right: 2%
}

.form-body{
    margin-top: 2%;
}

.registerButton{
    margin-top: 2%;
}

.form-group{
    margin-bottom: 1%;
}

.navbar-brand{
    font-size: 30px;
    font-weight: bold;
}

.form-label{
    font-weight: bold;
}

.birthdateLabel{
    margin-bottom: 7px;
}

select {
    text-align: center;
    text-align-last: center;
    /* webkit*/
}

#ageHelp{
    margin-top: -1%;
    margin-bottom: 2%;
}

.form-check{
    margin-right: 10%;
    margin-left: 10%;
}

.red{
    color: red;
}

.green{
    color: green;
}

.errMess{
    color: red;
    margin-top: -2%;
}

.generalMess{
    margin-top: 2%;
}

#conditions{
    margin-bottom: 2%;
}

.rsm-geographies{
    opacity: 1;
    transition: opacity 2s linear;
}