.profilPicture {
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

.profilName {
    font-size: 18px;
    color:rgba(255, 255, 255, 0.8);;
    padding-right: 20px;
}

  .profile{
    background-image: url('../../css/img/BACKGROUND_MAPS.png');
  }

  .profil-image{
    border-radius: 70%;
    margin-left: 10%;
  }

  .userInfos{
    font-family: 'Vidaloka', serif;
    font-size: 4em;
    font-weight: bold;
  }

  .userStatus{
     font-style: italic;
     color: white;
  }

  .worldmap{
      width: 50%;
  }

  .genBanner{
      background-image: url('../../css/img/airfrance_4.jpg');
      background-size: cover;
  }

  .profileContent{
      background-color: rgba(0,0,0);
  }

  .photos{
      width: 50%;
      padding-top: 20px;
      background-color: rgba(0,0,0);
  }